$cl-black: #13111E;
$cl-red: #810026;
$cl-blue: #0C1E34;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 728px,
  lg: 960px,
  xl: 1140px,
  xxl: 1300px
);