@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "./vendors/normalize/normalize.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

svg use {
  fill: currentColor;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.section {
  margin-top: 81px;
  
  &:first-child {
    margin-top: 84px;
  }

  &:last-child {
    margin-bottom: 145px;
  }
}

@import "./sections/section-1";
@import "./sections/section-2";